.login-logo {
  max-width: 200px;
  height: auto;
}
.order-background {
  background-image: url('Assets/Mensa_Landshut.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  backdrop-filter: brightness(0.9);
}
.order-background .container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
}
